* > * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--white-500);

	font-family: "Inter";
	font-size: 15px;

	background-color: var(--background-600);
}

em {
	font-style: normal;
	color: var(--accent-500);
}

.container {
	width: 100%;
	display: grid;
	justify-content: center;
}
