.card {
	display: flex;
	flex-flow: row wrap-reverse;

	width: fit-content;
	margin: 5rem;
	overflow: hidden;
	align-content: flex-start;

	background-color: var(--background-500);
	border-radius: 0.5rem;
}

.card > * {
	flex: 1;
	flex-basis: 50%;
}

.card__content {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	gap: 1.5em;

	min-width: 300px;
	padding: 4em;
}

.card__title {
	font-weight: 700;
	font-size: 2rem;
}

.card__description {
	--lines: 5;
	--line-height: 1.5em;

	color: var(--white-600);

	overflow: hidden;
	text-overflow: ellipsis;
	line-height: var(--line-height);
	max-height: calc(var(--line-height) * var(--lines));
}

.card__img {
	min-height: 10rem;
	background-image: linear-gradient(var(--accent-500), var(--accent-500)), url(../images/image-header-desktop.jpg);
	background-size: cover;
	background-position: top center;

	filter: brightness(0.95) saturate(1.4) contrast(0.75);
	background-blend-mode: multiply;
}

.card__goals {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5em;
	width: 100%;
	margin-top: 2rem;
}

.card__goal-item {
	flex: 1 1;
}
.card__goal-item > * {
	display: block;
}
.card__goal-item > :first-child {
	font-size: 1.3em;
	font-weight: 700;
}
.card__goal-item > :last-child {
	margin-top: 0.5em;
	font-family: "Lexend Deca";
	font-size: 0.65em;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--white-700);
}

@media (max-width: 600px) {
	:root {
		font-size: 14px;
	}

	.card__content {
		align-items: center;
		text-align: center;

		padding: 2em;
	}

	.card__img {
		background-image: linear-gradient(var(--accent-500), var(--accent-500)), url(../images/image-header-desktop.jpg);
	}

	.card__goals {
		flex-flow: column nowrap;
		margin: 0;
	}
}
